/* ELEMENT CATEGORY STYLES ****************************************************/
* {
    font-family: "Nunito", sans-serif;
    user-select: text;
    -khtml-user-select: text;
    -o-user-select: text;
    -moz-user-select: -moz-text;
    -webkit-user-select: text;
}

body {
    margin: 40px;
    overflow: hidden;
    background-color: thistle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: plum;
}

ul {
    list-style-type: none;
}

li span {
    display: inline-block;
    width: 200px;
}

button {
    height: 30px;
    border: 1px solid #5d544b;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #5D544B;
    background-color: #ECE8C6;
    vertical-align: middle;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: palevioletred;
}

/* CLASS STYLES ***************************************************************/

.container {
    position: absolute;
    padding: 5% 2%;
    overflow: auto;
    border: 1px solid #5d544b;
    border-radius: 10px;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button.active {
    background-color: mediumvioletred;
    color: white;
}

.table-container {
    display: none;
}

/* ID STYLES ******************************************************************/

#normalScreen {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#checkInText {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#greenButton {
    position: absolute;
    bottom: 5%;
    left: 33%;
}

#redButton {
    position: absolute;
    bottom: 5%;
    right: 33%;
}

#nextTaskHeader {
    position: absolute;
    top: 5%;
    left: 5%;
}

#nextTaskText {
    position: absolute;
    top: 7%;
    left: 5%;
    text-align: right;
}

#focusMode {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#tasksMode {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#taskTableDiv {
    top: 10%;
    left: 10%;
    width: 40%;
    height: 50%;
}

#createTaskDiv {
    top: 10%;
    right: 10%;
    width: 25%;
    height: 50%;
}